.imagesize {
  max-width: 120px;
  max-height: 106px;
  padding: 1px;
}

.flexdiv {
  display: flex;
  align-items: center;
}

.label {
  font-weight: 100;
  margin-top: 5px;
}

.value {
  font-weight: 400;
}

