@import '../../components/variables.css';

.subheader {
  background-color: var(--subheader-color);
  font-weight: 400;
  position: fixed;
  height: 56px;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-top: 72px;
  display: flex;
  align-items: center;
  text-indent: 20px;
  color: var(--subheader-text-color);
}

.tabcontentmargin {
  margin: 10px;
  border: 1px solid var(--gray-light);
}

.alignCenter {
  padding-left: 25px;
}

.snackbarStyle {
  position: absolute !important;
  margin-top: 150px !important;
}

.columnHeader {
  font-weight: bold !important;
  font-size: initial !important;
}

.columnHeaderName {
  width: 15%;
  font-weight: bold !important;
  font-size: initial !important;
}

.columnRowName {
  width: 15%;
}
