@charset "utf-8";
/* CSS Document */

.drop{
	background-color: #fff;
    padding: 20px;
}

.drop h3{
    font-weight: 600;
}

.drop .form-group label{
	float:left;
}

.foot_link ul li{
	float: left;
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
}

.foot_link ul li a{
	color:#fff;
}

.foot_link ul li a:hover{
	color:#dfdfdf;
}

.middl{
	background:url(../images/midlebg.png) no-repeat center top;
	background-size: cover;
    padding-top:131px;
    text-align: center;
	width:100%;
	border-bottom:3px solid #479cfc;
	border-top:3px solid #479cfc;
	padding-bottom:100px;
}

.middl .Plan h3{
	color:#fff;
	text-align: left;
	font-weight:600;
}

.middl .Plan p{
	color:#fff;
	text-align: left;
}

#headerwrap h3{
	float:left;
	color:#fff;
	text-align:left;
}

#headerwrap h1{
	margin:0 !important;
	font-weight:600;
}

.applyform{
	border: none;
    /* text-shadow: none; */
    box-shadow: none;
    border-bottom: 1px solid #9A9A9A;
}

input:select{
	border: none;
	box-shadow: none;
}

input:after{
	border: none;
	box-shadow: none;
}

.sign{
	color:#fff;
	background-color: #8B50E6;
    border-color: #8B50E6;
}

.sign:hover{
	color:#fff;
	background-color: #673BB7;
    border-color: #8B50E6;
	border:2px solid #8B50E6;
}

.social_link {
    /*float: left;*/
    list-style: none;
	text-align:center;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}

.social_link li{
	margin-left:10px;
}

.social_link li .fa{
	color:#fff;
}

.social_link li .fa:hover{
	color:#dfdfdf;
}
.logo:hover{
	background:none !important;
}

.divider{
	border-right: 2px solid;
    border-left: 2px solid;
}

/*.foot_link a{
	color:#fff;
	padding-right:20px;
	float:right;
}*/
@media screen and (min-width:310px) and (max-width:600px){
.foot_link ul li {
    float: none;
}

.coptext{
	padding-left:50px;
}


}

@media screen and (max-width:991px){
.divider{
	border:none;
}

.middl {
    padding-top: 36px;
	padding-bottom: 36px;
}
}

@media screen and (max-width:461px){
#headerwrap h1{
	font-size:41px;
}
}








